<% if obj.errors.any?%>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">The following errors prevented the form from submitting</h4>
    <ul>
        <% obj.errors.full_messages.each do |message|%>
            <li> <%= message%> </li>
        <% end %>
    </ul>
</div> 
<% end %>