<div class="container">

    <div class = "row text-center">
       
            <div class="card mt-4 mb-4">
                <div class="card-header" id="homepage-card-header">
                    <h3> Tweets by Subject Area</h3>
                </div>
                <div class="card-body">
                    <%= pie_chart Tweet.group(:tag).count(:tweet_id), class:"mt-4 mb-4"%> 
                </div>
            </div>
    </div>


    <div class = "row text-center">
            <div class="card mt-4 mb-4">
                <div class="card-header" id="homepage-card-header">
                    <h3> Tweets Through Time </h3>
                </div>
                <div class="card-body">
                    <%= line_chart Tweet.group(:date_tweeted).count(:tweet_id), class:"mt-4 mb-4" %>
                </div>
            </div>
    </div>



    

    

</div>
    


    



   