<div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Top 10 Most Retweeted Tweets by Category </h3>
        </div>
        <div class="card-body">
            <%= pie_chart @df.sort(['retweet_count']).first(10)['tag'].value_counts, class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>


 <div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Tweets with more than 100 retweets by category </h3>
        </div>
        <div class="card-body">
            <%= column_chart @df.where(@df['retweet_count'].gt(100))['tag'].value_counts, class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>

 <div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Average Retweets by Category </h3>
        </div>
        <div class="card-body">
            <%= column_chart cats_retweets, class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>

 

