<div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Top 100 Most Retweeted Tweets by Category </h3>
        </div>
        <div class="card-body">
            <%= pie_chart Tweet.group(:tag).count(:tweet_id).order('retweet_count DESC').limit(10), class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>


 <div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Tweets with more than 1000 retweets by category </h3>
        </div>
        <div class="card-body">
            <%= column_chart Tweet.select(:tag, :retweet_count, :tweet_id).where("retweet_count >= '1000'").group(:tag).count(:tweet_id), class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>

 <div class = "row text-center">
    <div class="card mt-4 mb-4">
        <div class="card-header" id="homepage-card-header">
            <h3> Average Retweets by Category </h3>
        </div>
        <div class="card-body">
            <%= column_chart Tweet.group(:tag).average(:retweet_count), class:"mt-4 mb-4"%> 
        </div>
    </div>
 </div>

 

