<div class="container text-center">
    <h1 class='mt-4 mb-4'> Most Popular Tweets By Category </h1>
    <% categories = Tweet.pluck(:tag).uniq%>
    <% categories.each do |category| %>
        <% top_tweets = Tweet.where("tag = '#{category}'").select(:tweet_text, :retweet_count).order(retweet_count: :desc).reselect(:tweet_text).distinct().limit(5) %>
        <% top_tweets.each do |tweet| %>
            <div class="card mt-4 mb-4">
                    <div class="card-header" id="homepage-card-header">
                        <h3> Top <%="#{category}"%> Tweets </h3>
                    </div>
                    <div class="card-body mt-4 mb-4">
                        <%= tweet.tweet_text %> 
                    </div>
                    <div class="card-footer">
                    
                    </div>
            </div>
        <% end %>
    <% end %>
  
        
</div>

